[alias]
  cb = rev-parse --abbrev-ref HEAD
  civ = commit --interactive --verbose
  purr = pull --rebase
  p = push
  pu = !git push -u origin $(git cb)
  lg = log --graph --date-order --all --pretty='%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(a: %ar, c: %cr) %C(bold blue)<%an>%Creset'
  co = checkout
  cob = checkout -b
  cot = checkout -t
  prune-remote = !git remote | xargs -n 1 git remote prune
  prune-local = !git branch --merged | grep -v '*' | grep -v master | grep -v development | xargs -n 1 git branch -d
  cleanup = !git prune-remote && git prune-local
  rebase-master = !bash -c 'BRANCH=$(git cb) && git co master && git rebase $BRANCH && git p' -
[user]
  name = Bence Dányi
  email = bence@danyi.me
[color]
  ui = auto
[core]
  editor = vim
[push]
  default = upstream
[rebase]
  autosqash = true
[branch]
  autosetuprebase = always
[interactive]
  singlekey = true
[advice]
  statusHints = false
  pushNonFastForward = false
[diff]
  renames = copies
  mnemonicprefix = true
  colorMoved = zebra
[difftool]
  prompt = false
[pager]
  difftool = true
